.events {
    margin-bottom: 100px;
    &:last-child {
        margin-bottom: 0;
    }

    &__container {
        padding-left: 12px;

        h2 {
            font-weight: 700;
            color: #000;
            font-size: 42px;
            text-transform: uppercase;
            font-family: $font-family;
            display: flex;
            align-items: center;
            gap: 14px;

            .date {
                font-size: 52px;

                @media (max-width: 768px) {
                    font-size: 34px;
                }
            }

            .vertical-line {
                display: block;
                width: 4px;
                background-color: #000;
                min-height: 40px;

                @media (max-width: 768px) {
                    min-height: 36px;
                }
            }

            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
    }

    &__list {
        margin-top: 32px;
        display: flex;
        padding-left: 30.24px;
        padding-right: 20px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }

        &-item {
            width: 487px !important;
            cursor: pointer;
            margin-right: 33px !important;

            @media (max-width: 768px) {
                width: 304px !important;
            }

            &:hover {
                ._img {
                    transform: scale(1.05);
                }
            }

            
            ._img {
                transition: all 0.6s ease-in-out;
                border-radius: 30px;
                height: 298.38px;
                overflow: hidden;
            }

            .time-place {
                margin-top: 15.2px;
                display: flex;
                align-items: center;
                gap: 5px;

                font-weight: 400;
                font-size: 24px;
                text-align: center;
                color: #000;
                font-family: $font-family;
                
                .vertical-line {
                    display: block;
                    width: 2px;
                    background-color: #000;
                    min-height: 24px;
                }
            }
            @media (max-width: 768px) {
                &:hover {
                    ._img {
                        transform: none;
                    }
                }
                ._img {
                    border-radius: 20px;
                }
                ._parallelogram {
                    width: 39px;
                    height: 21px;
                    border-radius: 3px;
                }
                ._wrap-status {
                    gap: 14px;
                    margin-top: 13px;
                }
                ._wrap-status h3 {
                    font-size: 24px;
                }
                .time-place {
                    font-size: 17px;
                    margin-top: 2px;
                    .vertical-line {
                        min-height: 15px;
                    }
                }
            }
        }
    }
}