.header {
    background-color: #b5b5b5;
    &__container {
        max-width: 1051px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        ul {            
            display: flex;
            align-items: center;
            gap: 20px;
            li {
                padding: 5px 15px;
                border: 1px solid red;
                &:hover {
                    border: none;
                }
            }
            a {
                font-size: 21px;
                font-weight: 600;
            }
        }
    }
}